.main-banner {
    height: 100vh;
    background: url('https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FdolSNz%2FbtsLstPOMuU%2FTqJrv3o0J9WVvLgVJbIkt1%2Fimg.png') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
  
    .banner-content {
      color: white;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }
  
    /* 스크롤 투명 효과 */
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
      z-index: 1;
    }
  }
  