.todoDiv{
    width: 518px;
    background-color: #b9e8f0;
    margin-right: auto;
    margin-left: auto;

    
    height: 627px;
    border-radius: 4px;
}

.TodoTemplate {
    width: 512px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3px;
    border-radius: 4px;
    overflow: hidden;

    .app-title {
        background: #22b8cf;
        color: white;
        height: 4rem;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .content {
        background: rgb(211, 211, 211);
    }
}
